<form action="/quiz/add" method="post">
    <div class="form-group">
      <label for="name">Name of your Quiz: </label><br>
      <input id="name" name="name" class="form-control" type="text">
      <label for="subject">Subject of your Quiz: </label><br>
      <input id="subject" name="subject" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Add Quiz</button>
</form>
